.grid-areas{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 200px 400px 200px;
    grid-template-areas: "header header"
    "nav main"
    "footer footer";
    gap: 10px;
}