.grid-areas{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 200px 400px 200px;
    grid-template-areas: "header header header"
    "nav main main"
    "footer footer footer";
    gap: 10px;
}

header{
    grid-area: header;
    background-color: aqua;
}
header:hover{
    background-color: chocolate;
}

nav{
    grid-area: nav;
    background-color: bisque;
}
main{
    grid-area: main;
    background-color: rgb(115, 10, 190);
}
footer{
    grid-area: footer;
    background-color: black;
    color: white;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    padding: 10px;
    margin: 5px;
    background-color: white;
}
nav li::before{
    content: "---> ";
    color: purple;
}